body {
  font-family: 'Helvetica Neue', Verdana, Helvetica, Arial, sans-serif;
  color: #2D586C;
  padding-top: 25px;
  -webkit-font-smoothing: antialiased;
  font-size: 1.125em;
  line-height: 1.5em;
  background-color: #2D586C;
}

.page-content {
  margin-top: 25px;
  margin-bottom: 150px;
  color: white;
}
.content > span {
  font-weight: 100;
}

#logo-icon {
  font-size: 1.75em;
}

.ui.table thead th {
  font-weight: normal;
}

.name-cells {
  font-weight: 600
}
